<style>
  .content {
    max-width: 600px;
    margin: auto;
  }
  </style>
  <body>
  <div class="content">
      <h1>Welcome to my website!</h1>
      <p> 
        <!-- style="width:620px;"> -->
       I am Yu-Yu Pai, data Analyst at <a href="https://www.airliquide.com/">Air Liquide France Industrie</a> since September 2021. I will graduate from <a href="https://neoma-bs.com/"> Neoma Business School</a> in September 2022. <br>
       <br> I'm sharing my personal projects here and you can also find the codes on my <a href="https://github.com/Pai-U/Projet_PAI"> Github</a>. 
      </p>

      <div id="table-of-contents">
        <h2>Table of Contents</h2>
        <div id="text-table-of-contents">
        <ul>
       
        <li><a href="#work">Work Experience</a></li>
        <li><a href="#Education">Education</a></li>
        <li><a href="#posts">Personal Projects</a></li>
        </ul>
        </div>
        </div>
        
        <br>
        <div id="outline-container-orgc54df50" class="outline-2">
        <h2 id="work">Work Experience</h2>
        <div class="outline-text-2" id="text-orgc54df50">
          <p>
            <strong>Data analyst </strong> @ <em>Air Liquide France Industrie</em>, Sep. 2021 - now <br>
            I help my team to save around 2 weeks/month of data processing and reporting tasks by Python. <br>
            I conduct comprehensive market research for SEO customers by R.<br>
            <br>
            &#x2022; Development of operational solutions: <br><br>
                     1. Web scrapping: <br>
                        - Automate data extraction from Air Liquide drupal back office & from Salesforce<br>
                        - Automate Website Tag management analytics datalayer check reporting <br><br>
                     2. Report automation : <br>
                        - Automate excel/ google sheet pivot table for reporting<br><br>
                     3. Data matching: <br>
                        - Identify and detect data with the same entity from different sources<br><br>
            &#x2022; Data analysis & report : <br><br>
                     1. Unsupervised clustering : SEO clients' data analysis for main markets (Food&Pharma, Researh&Analysis, Manufacturing&Process)<br>
                     2. Data visulization <br>
                     3. Analytical Report <br>
                     <br>
                     <br>
      <br>  Yu-Yu is attending the AI-readiness program, an internal bootcamp training for Data Science and for AI intergration, held by Air Liquide.<br>
            This program upskills collaborators to infuse data driven mindset and culture into local business.<br>
            <br>  
          </p>

          <p>
            <strong>Internship - Business analyst</strong>@<em>SteamOne</em> Feb. 2021 - Aug. 2021 <br>
            &#x2022; Marketing data mining & data visualization<br>
            &#x2022; Business data analysis<br>
            <br> 
          </p>

        </div>
        </div>

        <br>
        <div id="outline-container-orgd58b0f6" class="outline-2">
        <h2 id="Education">Education</h2>
        <div class="outline-text-2" id="text-orgd58b0f6">

        <p>
            &#x2022; Master: Econometrics & Applied Statistics 
            <br> <em>Capitole University Toulouse 1</em>
        </p>

        <p>
          &#x2022; Master: Marketing & Data Analytics
          <br> <em>Neoma Business School</em>
        </p>

        <p>
          &#x2022; Master: International Business 
          <br> <em>Lumière University Lyon 2</em>
        </p>

        </div>
        </div>

        
        
        {%- if site.posts.size > 0 -%}
        <br>
        <div id="outline-container-orgbc2bbb7" class="outline-2">
        <h2 id="posts">Personal Projects</h2>
        <div class="outline-text-2" id="text-orgbc2bbb7">
          <ul class="posts">
            <li class="posts-labelgroup" id="posts-labelgroup">
              <h1 id="posts-label">posts</h1>
              {% if site.plainwhite.search %}
              <div class="search-container">
                <div class="search-section">
                  <i class="icon-search"></i>
                  <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
                </div>
                <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
              </div>
              {% endif %}
            </li>

            {%- for post in site.posts -%}
              <li>
                {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
                <a class="post-link" href="{{ post.url | relative_url }}">
                  <h2 class="post-title">{{ post.title | escape }}</h2>
                </a>
                <div class="post-meta">
                  <div class="post-date">
                    <i class="icon-calendar"></i>
                    {{ post.date | date: date_format }}
                  </div>
                  {%- if post.categories.size > 0-%}
                  <ul class="post-categories">
                    {%- for tag in post.categories -%}
                    <li>{{ tag }}</li>
                    {%- endfor -%}
                  </ul>
                  {%- endif -%}
                </div>
                <div class="post">
                  {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%}
                </div>
              </li>
            {%- endfor -%}
          </ul>

          <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
          </svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
        </div>
        </div>
        {%- endif -%}
      
  </div>
 
  </body>